In [27]:
#Importing required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

### Reading and Preprocessing of data

In [28]:
# Define a list of season names
seasons = ['2002-2003','2003-2004', '2005-2006', '2006-2007', '2007-2008', '2008-2009',
           '2009-2010', '2010-2011', '2011-2012', '2012-2013', '2013-2014', '2014-2015', '2015-2016',
           '2016-2017', '2017-2018', '2018-2019', '2019-2020', '2020-2021', '2021-2022', '2022-2023']


# Create an empty list to store the processed DataFrames
season_dataframes = []

# Loop through each season
for season in seasons:
    # Read the CSV file for the current season
    filename = f'Season {season}.csv'
    data = pd.read_csv(filename)
    print(data.shape)
     
    # Select the required features and copy the DataFrame
    data_selected = data[['Date','HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG', 'HTR',
                         'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR']].copy()
    
    # Add the "Season" column with the current season value to the DataFrame using .loc
    data_selected.loc[:, 'Season'] = season
    
    # Reorder the columns to have "Season" as the first column
    data_selected = data_selected[['Season','Date','HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG',
                                   'HTR', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR']]
    
    # Append the processed DataFrame to the list of season_dataframes
    season_dataframes.append(data_selected)


S_0405=pd.read_csv('Season 2004-2005.csv', encoding="ISO-8859-1",  usecols=range(0, 57))
data1 = S_0405[['Date','HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG', 'HTR', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR']].copy()
data1.loc[:, 'Season'] = '2004-2005'
data1 = data1[['Season','Date','HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG', 'HTR', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR']]
season_dataframes.append(data1)

# Append the "2004-2005" DataFrame to the list of season_dataframes
print(season_dataframes)

(380, 53)
(380, 57)
(380, 68)
(380, 68)
(380, 71)
(380, 71)
(380, 71)
(380, 71)
(380, 71)
(380, 74)
(380, 68)
(381, 68)
(380, 65)
(380, 65)
(380, 65)
(380, 62)
(380, 106)
(380, 106)
(380, 106)
(380, 106)
[        Season        Date    HomeTeam     AwayTeam  FTHG  FTAG FTR  HTHG  \
0    2002-2003  17/08/2002   Blackburn   Sunderland     0     0   D     0
1    2002-2003  17/08/2002    Charlton      Chelsea     2     3   A     2
2    2002-2003  17/08/2002     Everton    Tottenham     2     2   D     1
3    2002-2003  17/08/2002      Fulham       Bolton     4     1   H     3
4    2002-2003  17/08/2002       Leeds     Man City     3     0   H     2
..         ...         ...         ...          ...   ...   ...  ..   ...
375  2002-2003  11/05/2003       Leeds  Aston Villa     3     1   H     1
376  2002-2003  11/05/2003    Man City  Southampton     0     1   A     0
377  2002-2003  11/05/2003  Sunderland      Arsenal     0     4   A     0
378  2002-2003  11/05/2003   Tottenham    Blackburn     0     4   A     0
379  2002-2003  11/05/2003   West Brom    Newcastle     2     2   D     0

     HTAG HTR  ...  HST  AST  HF  AF  HC  AC  HY  AY  HR  AR
0       0   D  ...    5    3  14  11   9   1   1   2   0   0
1       1   H  ...    5   12  10  12   3   6   0   3   1   0
2       0   H  ...    9    5  18   4  10   5   1   1   0   0
3       1   H  ...    6    1  16  12   7   4   1   2   0   0
4       0   H  ...    8   10  13  13   2   7   1   1   0   0
..    ...  ..  ...  ...  ...  ..  ..  ..  ..  ..  ..  ..  ..
375     1   D  ...    5    6  18  14   1   8   0   1   0   0
376     1   A  ...    7    3  14  14  10   4   3   4   0   0
377     2   A  ...    3   13  16  12   6  10   1   0   0   0
378     2   A  ...    7    9   9  12   6   3   1   1   1   0
379     1   A  ...    3    9   9   8   2   8   0   0   0   0

[380 rows x 22 columns],         Season        Date    HomeTeam       AwayTeam  FTHG  FTAG FTR  HTHG  \
0    2003-2004  16-08-2003     Arsenal        Everton     2     1   H     1
1    2003-2004  16-08-2003  Birmingham      Tottenham     1     0   H     1
2    2003-2004  16-08-2003   Blackburn         Wolves     5     1   H     2
3    2003-2004  16-08-2003      Fulham  Middlesbrough     3     2   H     1
4    2003-2004  16-08-2003   Leicester    Southampton     2     2   D     2
..         ...         ...         ...            ...   ...   ...  ..   ...
375  2003-2004  15-05-2004     Chelsea          Leeds     1     0   H     1
376  2003-2004  15-05-2004   Liverpool      Newcastle     1     1   D     0
377  2003-2004  15-05-2004    Man City        Everton     5     1   H     3
378  2003-2004  15-05-2004  Portsmouth  Middlesbrough     5     1   H     3
379  2003-2004  15-05-2004      Wolves      Tottenham     0     2   A     0

     HTAG HTR  ...  HST  AST  HF  AF  HC  AC  HY  AY  HR  AR
0       0   H  ...    5    7   8  15   6   9   1   3   1   1
1       0   H  ...    5    7  20  27   1   4   3   5   0   0
2       0   H  ...   13    5   8  14   6   2   1   1   0   0
3       1   D  ...    9    5  18  16   7   6   1   1   0   0
4       0   H  ...    7   10  27  15   2   7   3   1   0   0
..    ...  ..  ...  ...  ...  ..  ..  ..  ..  ..  ..  ..  ..
375     0   H  ...    9    0   5   9   9   2   0   0   0   0
376     1   A  ...    4    5  11  17   8   1   1   1   0   0
377     0   H  ...   11    0   5   8   7   3   1   1   0   0
378     1   H  ...   10    4  12   8   7   2   0   0   0   0
379     1   A  ...   10   12   6  11   5   3   1   1   1   0

[380 rows x 22 columns],         Season      Date       HomeTeam       AwayTeam  FTHG  FTAG FTR  HTHG  \
0    2005-2006  13/08/05    Aston Villa         Bolton     2     2   D     2
1    2005-2006  13/08/05        Everton     Man United     0     2   A     0
2    2005-2006  13/08/05         Fulham     Birmingham     0     0   D     0
3    2005-2006  13/08/05       Man City      West Brom     0     0   D     0
4    2005-2006  13/08/05  Middlesbrough      Liverpool     0     0   D     0
..         ...       ...            ...            ...   ...   ...  ..   ...
375  2005-2006  07/05/06         Fulham  Middlesbrough     1     0   H     0
376  2005-2006  07/05/06     Man United       Charlton     4     0   H     3
377  2005-2006  07/05/06      Newcastle        Chelsea     1     0   H     0
378  2005-2006  07/05/06     Portsmouth      Liverpool     1     3   A     0
379  2005-2006  07/05/06       West Ham      Tottenham     2     1   H     1

     HTAG HTR  ...  HST  AST  HF  AF  HC  AC  HY  AY  HR  AR
0       2   D  ...    2    6  14  16   7   8   0   2   0   0
1       1   A  ...    5    5  15  14   8   6   3   1   0   0
2       0   D  ...    7    4  12  13   6   6   1   2   0   0
3       0   D  ...    8    3  13  11   3   6   2   3   0   0
4       0   D  ...    2    7  17  11   5   0   2   3   1   0
..    ...  ..  ...  ...  ...  ..  ..  ..  ..  ..  ..  ..  ..
375     0   D  ...    3    3   8  12   8   4   0   1   0   0
376     0   H  ...   11    3   9   6   8   2   1   0   0   0
377     0   D  ...    8    5  17  14   3   7   4   2   1   0
378     0   D  ...    4    4   5  11   5   6   1   0   0   0
379     1   D  ...    7    6  17   7  11   4   1   0   0   0

[380 rows x 22 columns],         Season      Date          HomeTeam     AwayTeam  FTHG  FTAG FTR  HTHG  \
0    2006-2007  19/08/06           Arsenal  Aston Villa     1     1   D     0
1    2006-2007  19/08/06            Bolton    Tottenham     2     0   H     2
2    2006-2007  19/08/06           Everton      Watford     2     1   H     1
3    2006-2007  19/08/06         Newcastle        Wigan     2     1   H     1
4    2006-2007  19/08/06        Portsmouth    Blackburn     3     0   H     1
..         ...       ...               ...          ...   ...   ...  ..   ...
375  2006-2007  13/05/07     Middlesbrough       Fulham     3     1   H     2
376  2006-2007  13/05/07        Portsmouth      Arsenal     0     0   D     0
377  2006-2007  13/05/07  Sheffield United        Wigan     1     2   A     1
378  2006-2007  13/05/07         Tottenham     Man City     2     1   H     2
379  2006-2007  13/05/07           Watford    Newcastle     1     1   D     0

     HTAG HTR  ...  HST  AST  HF  AF  HC  AC  HY  AY  HR  AR
0       0   D  ...   11    3  10  19  18   1   1   2   0   0
1       0   H  ...    6    6  19  22   6   3   0   1   0   0
2       0   H  ...    2    8  12  13   0   6   2   2   0   0
3       0   H  ...    8    9  17  20   4  11   1   2   0   0
4       0   H  ...   16    7  20  17   6   2   2   1   0   2
..    ...  ..  ...  ...  ...  ..  ..  ..  ..  ..  ..  ..  ..
375     1   H  ...   10    5  11  12  10   3   1   0   0   0
376     0   D  ...    4    6  18  15   2   6   0   0   0   0
377     2   A  ...    5    3  11  15  10   3   3   5   0   1
378     1   H  ...    3    5  11  13   6   6   1   1   0   0
379     1   A  ...    2    1  13   6   8   5   2   4   0   0

[380 rows x 22 columns],         Season      Date       HomeTeam     AwayTeam  FTHG  FTAG FTR  HTHG  \
0    2007-2008  11/08/07    Aston Villa    Liverpool     1     2   A     0
1    2007-2008  11/08/07         Bolton    Newcastle     1     3   A     0
2    2007-2008  11/08/07          Derby   Portsmouth     2     2   D     1
3    2007-2008  11/08/07        Everton        Wigan     2     1   H     1
4    2007-2008  11/08/07  Middlesbrough    Blackburn     1     2   A     1
..         ...       ...            ...          ...   ...   ...  ..   ...
375  2007-2008  11/05/08     Portsmouth       Fulham     0     1   A     0
376  2007-2008  11/05/08     Sunderland      Arsenal     0     1   A     0
377  2007-2008  11/05/08      Tottenham    Liverpool     0     2   A     0
378  2007-2008  11/05/08       West Ham  Aston Villa     2     2   D     1
379  2007-2008  11/05/08          Wigan   Man United     0     2   A     0

     HTAG HTR  ...  HST  AST  HF  AF  HC  AC  HY  AY  HR  AR
0       1   A  ...    6    7  18  11   4   2   4   2   0   0
1       3   A  ...    9    5  15  16   4   3   1   1   0   0
2       1   D  ...    5    6  14  17   6   6   1   2   0   0
3       0   H  ...    8    4   8  13   6   2   0   0   0   0
4       0   H  ...    6    4  16  16  13   3   3   4   0   0
..    ...  ..  ...  ...  ...  ..  ..  ..  ..  ..  ..  ..  ..
375     0   D  ...   10    4  13  11   5   6   0   0   0   0
376     1   A  ...    5    8  14  12   3   4   1   1   0   0
377     0   D  ...    3   12  11   9   8   4   1   1   0   0
378     1   D  ...    8    8   9  21   7   8   2   2   0   0
379     1   A  ...    6    6  10   5   5  12   3   2   0   0

[380 rows x 22 columns],         Season      Date       HomeTeam       AwayTeam  FTHG  FTAG FTR  HTHG  \
0    2008-2009  16/08/08        Arsenal      West Brom     1     0   H     1
1    2008-2009  16/08/08         Bolton          Stoke     3     1   H     3
2    2008-2009  16/08/08        Everton      Blackburn     2     3   A     1
3    2008-2009  16/08/08           Hull         Fulham     2     1   H     1
4    2008-2009  16/08/08  Middlesbrough      Tottenham     2     1   H     0
..         ...       ...            ...            ...   ...   ...  ..   ...
375  2008-2009  24/05/09      Liverpool      Tottenham     3     1   H     1
376  2008-2009  24/05/09       Man City         Bolton     1     0   H     1
377  2008-2009  24/05/09     Sunderland        Chelsea     2     3   A     0
378  2008-2009  24/05/09       West Ham  Middlesbrough     2     1   H     1
379  2008-2009  24/05/09          Wigan     Portsmouth     1     0   H     1

     HTAG HTR  ...  HST  AST  HF  AF  HC  AC  HY  AY  HR  AR
0       0   H  ...   14    4  11   8   7   5   0   0   0   0
1       0   H  ...    8    2  13  12   4   3   1   2   0   0
2       1   D  ...    5   11  11   9   3   5   2   2   0   0
3       1   D  ...    6    6  10   9   5   6   3   0   0   0
4       0   D  ...   10    5  11  12   7   9   1   2   0   0
..    ...  ..  ...  ...  ...  ..  ..  ..  ..  ..  ..  ..  ..
375     0   H  ...    9    4  14   4   9   2   0   1   0   0
376     0   H  ...   12    4   8  10  15   9   0   0   0   0
377     0   D  ...    7    9   8   7   6   7   1   1   0   0
378     0   H  ...    8    6  14  10   4   5   0   1   0   0
379     0   H  ...   10    3   8  21   8   2   0   4   0   0

[380 rows x 22 columns],         Season      Date     HomeTeam    AwayTeam  FTHG  FTAG FTR  HTHG  HTAG  \
0    2009-2010  15/08/09  Aston Villa       Wigan     0     2   A     0     1
1    2009-2010  15/08/09    Blackburn    Man City     0     2   A     0     1
2    2009-2010  15/08/09       Bolton  Sunderland     0     1   A     0     1
3    2009-2010  15/08/09      Chelsea        Hull     2     1   H     1     1
4    2009-2010  15/08/09      Everton     Arsenal     1     6   A     0     3
..         ...       ...          ...         ...   ...   ...  ..   ...   ...
375  2009-2010  09/05/10      Everton  Portsmouth     1     0   H     0     0
376  2009-2010  09/05/10         Hull   Liverpool     0     0   D     0     0
377  2009-2010  09/05/10   Man United       Stoke     4     0   H     2     0
378  2009-2010  09/05/10     West Ham    Man City     1     1   D     1     1
379  2009-2010  09/05/10       Wolves  Sunderland     2     1   H     1     1

    HTR  ...  HST  AST  HF  AF  HC  AC  HY  AY  HR  AR
0     A  ...    5    7  15  14   4   6   2   2   0   0
1     A  ...    9    5  12   9   5   4   2   1   0   0
2     A  ...    3   13  16  10   4   7   2   1   0   0
3     D  ...   12    3  13  15  12   4   1   2   0   0
4     A  ...    5    9  11  13   4   9   0   0   0   0
..   ..  ...  ...  ...  ..  ..  ..  ..  ..  ..  ..  ..
375   D  ...   13    4  12  11  14   1   0   0   0   0
376   D  ...    6    7  15  11   2   6   1   0   0   0
377   H  ...   13    4  10   4  10   2   2   0   0   0
378   D  ...    8    6  12   7   4   3   2   0   0   0
379   D  ...    7    5  11  19   4   1   1   2   0   2

[380 rows x 22 columns],         Season      Date     HomeTeam    AwayTeam  FTHG  FTAG FTR  HTHG  HTAG  \
0    2010-2011  14/08/10  Aston Villa    West Ham     3     0   H     2     0
1    2010-2011  14/08/10    Blackburn     Everton     1     0   H     1     0
2    2010-2011  14/08/10       Bolton      Fulham     0     0   D     0     0
3    2010-2011  14/08/10      Chelsea   West Brom     6     0   H     2     0
4    2010-2011  14/08/10   Sunderland  Birmingham     2     2   D     1     0
..         ...       ...          ...         ...   ...   ...  ..   ...   ...
375  2010-2011  22/05/11    Newcastle   West Brom     3     3   D     2     0
376  2010-2011  22/05/11        Stoke       Wigan     0     1   A     0     0
377  2010-2011  22/05/11    Tottenham  Birmingham     2     1   H     0     0
378  2010-2011  22/05/11     West Ham  Sunderland     0     3   A     0     1
379  2010-2011  22/05/11       Wolves   Blackburn     2     3   A     0     3

    HTR  ...  HST  AST  HF  AF  HC  AC  HY  AY  HR  AR
0     H  ...   11    2  15  15  16   7   1   2   0   0
1     H  ...    2   12  19  14   1   3   2   1   0   0
2     D  ...    9    7  12  13   4   8   1   3   0   0
3     H  ...   13    4  10  10   3   1   1   0   0   0
4     H  ...    2    7  13  10   3   6   3   3   1   0
..   ..  ...  ...  ...  ..  ..  ..  ..  ..  ..  ..  ..
375   H  ...   10    7   5   8   7   6   0   0   0   0
376   D  ...    5    9  10   9   5   3   1   4   0   0
377   D  ...   16    3   5  15   7   5   0   3   0   0
378   A  ...   12   12   7   8   4   6   0   2   0   0
379   A  ...    5   10  12   9   8   3   3   1   0   0

[380 rows x 22 columns],         Season      Date    HomeTeam     AwayTeam  FTHG  FTAG FTR  HTHG  HTAG  \
0    2011-2012  13/08/11   Blackburn       Wolves     1     2   A     1     1
1    2011-2012  13/08/11      Fulham  Aston Villa     0     0   D     0     0
2    2011-2012  13/08/11   Liverpool   Sunderland     1     1   D     1     0
3    2011-2012  13/08/11   Newcastle      Arsenal     0     0   D     0     0
4    2011-2012  13/08/11         QPR       Bolton     0     4   A     0     1
..         ...       ...         ...          ...   ...   ...  ..   ...   ...
375  2011-2012  13/05/12  Sunderland   Man United     0     1   A     0     1
376  2011-2012  13/05/12     Swansea    Liverpool     1     0   H     0     0
377  2011-2012  13/05/12   Tottenham       Fulham     2     0   H     1     0
378  2011-2012  13/05/12   West Brom      Arsenal     2     3   A     2     2
379  2011-2012  13/05/12       Wigan       Wolves     3     2   H     2     1

    HTR  ...  HST  AST  HF  AF  HC  AC  HY  AY  HR  AR
0     D  ...    8    4  14  10  12   6   4   2   0   0
1     D  ...    9    1  10  18   2   3   2   4   0   0
2     H  ...    4    6  17  12   6   3   4   4   0   0
3     D  ...    1    4   9  11   2   5   3   5   0   1
4     A  ...    7    7   9  16   3   2   1   2   1   0
..   ..  ...  ...  ...  ..  ..  ..  ..  ..  ..  ..  ..
375   A  ...    5    9  14  11   1   9   3   3   0   0
376   D  ...    8    9   5   5   6   5   1   1   0   0
377   H  ...    9    7   8  12   9   3   0   2   0   0
378   D  ...    8    8  12  10   9   5   0   1   0   0
379   H  ...   10    7  15   9   9   2   1   2   0   0

[380 rows x 22 columns],         Season      Date   HomeTeam     AwayTeam  FTHG  FTAG FTR  HTHG  HTAG  \
0    2012-2013  18/08/12    Arsenal   Sunderland     0     0   D     0     0
1    2012-2013  18/08/12     Fulham      Norwich     5     0   H     2     0
2    2012-2013  18/08/12  Newcastle    Tottenham     2     1   H     0     0
3    2012-2013  18/08/12        QPR      Swansea     0     5   A     0     1
4    2012-2013  18/08/12    Reading        Stoke     1     1   D     0     1
..         ...       ...        ...          ...   ...   ...  ..   ...   ...
375  2012-2013  19/05/13    Swansea       Fulham     0     3   A     0     1
376  2012-2013  19/05/13  Tottenham   Sunderland     1     0   H     0     0
377  2012-2013  19/05/13  West Brom   Man United     5     5   D     1     3
378  2012-2013  19/05/13   West Ham      Reading     4     2   H     2     0
379  2012-2013  19/05/13      Wigan  Aston Villa     2     2   D     2     1

    HTR  ...  HST  AST  HF  AF  HC  AC  HY  AY  HR  AR
0     D  ...    4    2  12   8   7   0   0   0   0   0
1     H  ...    9    2  12  11   6   3   0   0   0   0
2     D  ...    4    6  12   8   3   5   2   2   0   0
3     A  ...   11    8  11  14   5   3   2   2   0   0
4     A  ...    3    3   9  14   4   3   2   4   0   1
..   ..  ...  ...  ...  ..  ..  ..  ..  ..  ..  ..  ..
375   A  ...   11    6  12   9   8   0   2   1   0   0
376   D  ...   19    4   6  12  14   1   1   3   0   1
377   A  ...    8    8  10   6   3   5   0   1   0   0
378   H  ...   12    7  14   8   6   4   2   1   0   0
379   H  ...    6    2   8  12   4   2   2   1   0   0

[380 rows x 22 columns],         Season      Date     HomeTeam     AwayTeam  FTHG  FTAG FTR  HTHG  \
0    2013-2014  17/08/13      Arsenal  Aston Villa     1     3   A     1
1    2013-2014  17/08/13    Liverpool        Stoke     1     0   H     1
2    2013-2014  17/08/13      Norwich      Everton     2     2   D     0
3    2013-2014  17/08/13   Sunderland       Fulham     0     1   A     0
4    2013-2014  17/08/13      Swansea   Man United     1     4   A     0
..         ...       ...          ...          ...   ...   ...  ..   ...
375  2013-2014  11/05/14      Norwich      Arsenal     0     2   A     0
376  2013-2014  11/05/14  Southampton   Man United     1     1   D     1
377  2013-2014  11/05/14   Sunderland      Swansea     1     3   A     0
378  2013-2014  11/05/14    Tottenham  Aston Villa     3     0   H     3
379  2013-2014  11/05/14    West Brom        Stoke     1     2   A     0

     HTAG HTR  ...  HST  AST  HF  AF  HC  AC  HY  AY  HR  AR
0       1   D  ...    4    4  15  18   4   3   4   5   1   0
1       0   H  ...   11    4  11  11  12   6   1   1   0   0
2       0   D  ...    2    6  13  10   6   8   2   0   0   0
3       0   D  ...    3    1  14  14   6   1   0   3   0   0
4       2   A  ...    6    7  13  10   7   4   1   3   0   0
..    ...  ..  ...  ...  ...  ..  ..  ..  ..  ..  ..  ..  ..
375     0   D  ...    5    8   6   5   4   4   1   0   0   0
376     0   H  ...    6    2  16   5   6   2   3   2   0   0
377     2   A  ...    4    4  14  15   6   3   2   3   0   0
378     0   H  ...    6    1  11  11   5   1   1   0   0   0
379     1   A  ...    4    4   4   7  11   6   0   0   0   0

[380 rows x 22 columns],         Season      Date    HomeTeam        AwayTeam  FTHG  FTAG  FTR  HTHG  \
0    2014-2015  16/08/14     Arsenal  Crystal Palace   2.0   1.0    H   1.0
1    2014-2015  16/08/14   Leicester         Everton   2.0   2.0    D   1.0
2    2014-2015  16/08/14  Man United         Swansea   1.0   2.0    A   0.0
3    2014-2015  16/08/14         QPR            Hull   0.0   1.0    A   0.0
4    2014-2015  16/08/14       Stoke     Aston Villa   0.0   1.0    A   0.0
..         ...       ...         ...             ...   ...   ...  ...   ...
376  2014-2015  24/05/15   Leicester             QPR   5.0   1.0    H   2.0
377  2014-2015  24/05/15    Man City     Southampton   2.0   0.0    H   1.0
378  2014-2015  24/05/15   Newcastle        West Ham   2.0   0.0    H   0.0
379  2014-2015  24/05/15       Stoke       Liverpool   6.0   1.0    H   5.0
380  2014-2015       NaN         NaN             NaN   NaN   NaN  NaN   NaN

     HTAG  HTR  ...  HST  AST    HF    AF   HC   AC   HY   AY   HR   AR
0     1.0    D  ...  6.0  2.0  13.0  19.0  9.0  3.0  2.0  2.0  0.0  1.0
1     2.0    A  ...  3.0  3.0  16.0  10.0  3.0  6.0  1.0  1.0  0.0  0.0
2     1.0    A  ...  5.0  4.0  14.0  20.0  4.0  0.0  2.0  4.0  0.0  0.0
3     0.0    D  ...  6.0  4.0  10.0  10.0  8.0  9.0  1.0  2.0  0.0  0.0
4     0.0    D  ...  2.0  2.0  14.0   9.0  2.0  8.0  0.0  3.0  0.0  0.0
..    ...  ...  ...  ...  ...   ...   ...  ...  ...  ...  ...  ...  ...
376   0.0    H  ...  7.0  2.0   7.0   6.0  5.0  6.0  0.0  0.0  0.0  0.0
377   0.0    H  ...  6.0  4.0  13.0   8.0  8.0  4.0  1.0  1.0  0.0  0.0

In [17]:
# Combine all DataFrames in season_dataframes into a single DataFrame
combined_season_data = pd.concat(season_dataframes, ignore_index=True)

# Now, combined_data contains all the data from all the seasons in one DataFrame
print(combined_season_data)

         Season        Date     HomeTeam       AwayTeam  FTHG  FTAG FTR  HTHG  \
0     2002-2003  17/08/2002    Blackburn     Sunderland   0.0   0.0   D   0.0
1     2002-2003  17/08/2002     Charlton        Chelsea   2.0   3.0   A   2.0
2     2002-2003  17/08/2002      Everton      Tottenham   2.0   2.0   D   1.0
3     2002-2003  17/08/2002       Fulham         Bolton   4.0   1.0   H   3.0
4     2002-2003  17/08/2002        Leeds       Man City   3.0   0.0   H   2.0
...         ...         ...          ...            ...   ...   ...  ..   ...
7976  2004-2005    15/05/05     Man City  Middlesbrough   1.0   1.0   D   0.0
7977  2004-2005    15/05/05    Newcastle        Chelsea   1.0   1.0   D   1.0
7978  2004-2005    15/05/05  Southampton     Man United   1.0   2.0   A   1.0
7979  2004-2005    15/05/05    Tottenham      Blackburn   0.0   0.0   D   0.0
7980  2004-2005    15/05/05    West Brom     Portsmouth   2.0   0.0   H   0.0

      HTAG HTR  ...  HST   AST    HF    AF    HC   AC   HY   AY   HR   AR
0      0.0   D  ...  5.0   3.0  14.0  11.0   9.0  1.0  1.0  2.0  0.0  0.0
1      1.0   H  ...  5.0  12.0  10.0  12.0   3.0  6.0  0.0  3.0  1.0  0.0
2      0.0   H  ...  9.0   5.0  18.0   4.0  10.0  5.0  1.0  1.0  0.0  0.0
3      1.0   H  ...  6.0   1.0  16.0  12.0   7.0  4.0  1.0  2.0  0.0  0.0
4      0.0   H  ...  8.0  10.0  13.0  13.0   2.0  7.0  1.0  1.0  0.0  0.0
...    ...  ..  ...  ...   ...   ...   ...   ...  ...  ...  ...  ...  ...
7976   1.0   A  ...  5.0   3.0  12.0  15.0  10.0  3.0  2.0  4.0  0.0  0.0
7977   1.0   D  ...  4.0   7.0  11.0  17.0   6.0  4.0  4.0  4.0  0.0  0.0
7978   1.0   D  ...  3.0   8.0  14.0  13.0   5.0  3.0  1.0  2.0  0.0  0.0
7979   0.0   D  ...  7.0   8.0  10.0  14.0   5.0  7.0  2.0  2.0  0.0  0.0
7980   0.0   D  ...  5.0   2.0  12.0  13.0   6.0  1.0  0.0  1.0  0.0  0.0

[7981 rows x 22 columns]

In [29]:
# Sort the DataFrame by the 'Date' column in ascending order
combined_season_data = combined_season_data.sort_values(by='Season')

# If you want to sort in descending order, use the following line instead
# combined_data_sorted = combined_data.sort_values(by='Date', ascending=False)

# Print the sorted DataFrame
print(combined_season_data)

         Season        Date     HomeTeam       AwayTeam  FTHG  FTAG FTR  HTHG  \
0     2002-2003  17/08/2002    Blackburn     Sunderland   0.0   0.0   D   0.0
1     2002-2003  17/08/2002     Charlton        Chelsea   2.0   3.0   A   2.0
2     2002-2003  17/08/2002      Everton      Tottenham   2.0   2.0   D   1.0
3     2002-2003  17/08/2002       Fulham         Bolton   4.0   1.0   H   3.0
4     2002-2003  17/08/2002        Leeds       Man City   3.0   0.0   H   2.0
...         ...         ...          ...            ...   ...   ...  ..   ...
7225  2022-2023  06-08-2022    Newcastle  Nott'm Forest   2.0   0.0   H   0.0
7224  2022-2023  06-08-2022        Leeds         Wolves   2.0   1.0   H   1.0
7223  2022-2023  06-08-2022  Bournemouth    Aston Villa   2.0   0.0   H   1.0
7266  2022-2023  31-08-2022  Bournemouth         Wolves   0.0   0.0   D   0.0
7222  2022-2023  06-08-2022       Fulham      Liverpool   2.0   2.0   D   1.0

      HTAG HTR  ...   HY   AY   HR   AR      HAGR      AAGR     HAGCR  \
0      0.0   D  ...  1.0  2.0  0.0  0.0  0.882324  0.750135  0.990630
1      1.0   H  ...  0.0  3.0  1.0  0.0  0.861645  1.372106  1.167044
2      0.0   H  ...  1.0  1.0  0.0  0.0  1.012637  1.217017  0.939149
3      1.0   H  ...  1.0  2.0  0.0  0.0  0.896110  0.873021  1.133872
4      0.0   H  ...  1.0  1.0  0.0  0.0  0.847858  1.391492  1.384168
...    ...  ..  ...  ...  ...  ...  ...       ...       ...       ...
7225   0.0   D  ...  0.0  3.0  0.0  0.0  0.946902  0.497577  1.040388
7224   1.0   D  ...  2.0  0.0  0.0  0.0  0.847858  0.799138  1.384168
7223   0.0   H  ...  3.0  3.0  0.0  0.0  0.896110  0.964997  1.326871
7266   0.0   D  ...  2.0  1.0  0.0  0.0  0.896110  0.799138  1.326871
7222   0.0   H  ...  2.0  0.0  0.0  0.0  0.896110  1.365644  1.133872

         AAGCR      NAGR     NAGCR
0     1.145987  0.816229  1.068309
1     0.664697  1.116875  0.915870
2     0.914164  1.114827  0.926656
3     1.109798  0.884566  1.121835
4     0.761530  1.119675  1.072849
...        ...       ...       ...
7225  1.516494  0.722239  1.278441
7224  1.072269  0.823498  1.228218
7223  1.060780  0.930554  1.193826
7266  1.072269  0.847624  1.199570
7222  0.784507  1.130877  0.959189

[7980 rows x 28 columns]

In [30]:
# Remove rows with NaN values in the 'Date' column
combined_season_data = combined_season_data.dropna(subset=['HomeTeam'])

# Print the DataFrame after removing rows with NaN in 'Date' column
print(combined_season_data)

         Season        Date     HomeTeam       AwayTeam  FTHG  FTAG FTR  HTHG  \
0     2002-2003  17/08/2002    Blackburn     Sunderland   0.0   0.0   D   0.0
1     2002-2003  17/08/2002     Charlton        Chelsea   2.0   3.0   A   2.0
2     2002-2003  17/08/2002      Everton      Tottenham   2.0   2.0   D   1.0
3     2002-2003  17/08/2002       Fulham         Bolton   4.0   1.0   H   3.0
4     2002-2003  17/08/2002        Leeds       Man City   3.0   0.0   H   2.0
...         ...         ...          ...            ...   ...   ...  ..   ...
7225  2022-2023  06-08-2022    Newcastle  Nott'm Forest   2.0   0.0   H   0.0
7224  2022-2023  06-08-2022        Leeds         Wolves   2.0   1.0   H   1.0
7223  2022-2023  06-08-2022  Bournemouth    Aston Villa   2.0   0.0   H   1.0
7266  2022-2023  31-08-2022  Bournemouth         Wolves   0.0   0.0   D   0.0
7222  2022-2023  06-08-2022       Fulham      Liverpool   2.0   2.0   D   1.0

      HTAG HTR  ...   HY   AY   HR   AR      HAGR      AAGR     HAGCR  \
0      0.0   D  ...  1.0  2.0  0.0  0.0  0.882324  0.750135  0.990630
1      1.0   H  ...  0.0  3.0  1.0  0.0  0.861645  1.372106  1.167044
2      0.0   H  ...  1.0  1.0  0.0  0.0  1.012637  1.217017  0.939149
3      1.0   H  ...  1.0  2.0  0.0  0.0  0.896110  0.873021  1.133872
4      0.0   H  ...  1.0  1.0  0.0  0.0  0.847858  1.391492  1.384168
...    ...  ..  ...  ...  ...  ...  ...       ...       ...       ...
7225   0.0   D  ...  0.0  3.0  0.0  0.0  0.946902  0.497577  1.040388
7224   1.0   D  ...  2.0  0.0  0.0  0.0  0.847858  0.799138  1.384168
7223   0.0   H  ...  3.0  3.0  0.0  0.0  0.896110  0.964997  1.326871
7266   0.0   D  ...  2.0  1.0  0.0  0.0  0.896110  0.799138  1.326871
7222   0.0   H  ...  2.0  0.0  0.0  0.0  0.896110  1.365644  1.133872

         AAGCR      NAGR     NAGCR
0     1.145987  0.816229  1.068309
1     0.664697  1.116875  0.915870
2     0.914164  1.114827  0.926656
3     1.109798  0.884566  1.121835
4     0.761530  1.119675  1.072849
...        ...       ...       ...
7225  1.516494  0.722239  1.278441
7224  1.072269  0.823498  1.228218
7223  1.060780  0.930554  1.193826
7266  1.072269  0.847624  1.199570
7222  0.784507  1.130877  0.959189

[7980 rows x 28 columns]

In [31]:
combined_season_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7980 entries, 0 to 7222
Data columns (total 28 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Season    7980 non-null   object
 1   Date      7980 non-null   object
 2   HomeTeam  7980 non-null   object
 3   AwayTeam  7980 non-null   object
 4   FTHG      7980 non-null   float64
 5   FTAG      7980 non-null   float64
 6   FTR       7980 non-null   object
 7   HTHG      7980 non-null   float64
 8   HTAG      7980 non-null   float64
 9   HTR       7980 non-null   object
 10  HS        7980 non-null   float64
 11  AS        7980 non-null   float64
 12  HST       7980 non-null   float64
 13  AST       7980 non-null   float64
 14  HF        7980 non-null   float64
 15  AF        7980 non-null   float64
 16  HC        7980 non-null   float64
 17  AC        7980 non-null   float64
 18  HY        7980 non-null   float64
 19  AY        7980 non-null   float64
 20  HR        7980 non-null   float64
 21  AR        7980 non-null   float64
 22  HAGR      7980 non-null   float64
 23  AAGR      7980 non-null   float64
 24  HAGCR     7980 non-null   float64
 25  AAGCR     7980 non-null   float64
 26  NAGR      7980 non-null   float64
 27  NAGCR     7980 non-null   float64
dtypes: float64(22), object(6)
memory usage: 1.8+ MB

In [32]:
combined_season_data.shape

(7980, 28)

In [33]:
pd.isna(combined_season_data).sum()

Season      0
Date        0
HomeTeam    0
AwayTeam    0
FTHG        0
FTAG        0
FTR         0
HTHG        0
HTAG        0
HTR         0
HS          0
AS          0
HST         0
AST         0
HF          0
AF          0
HC          0
AC          0
HY          0
AY          0
HR          0
AR          0
HAGR        0
AAGR        0
HAGCR       0
AAGCR       0
NAGR        0
NAGCR       0
dtype: int64

In [34]:
# save dataframe into csv file in system
combined_season_data.to_csv('C:/Users/HP/Desktop/DissertationPrograms/Sep_Work/combined_season_data.csv')

### Feature Extraction

In [35]:
# Calculate average home goals and away goals scored for each team
avg_home_goals_scored = combined_season_data.groupby('HomeTeam')['FTHG'].mean()
avg_away_goals_scored = combined_season_data.groupby('AwayTeam')['FTAG'].mean()

# Calculate average home goals and away goals conceded for each team
avg_home_goals_conceded = combined_season_data.groupby('HomeTeam')['FTAG'].mean()
avg_away_goals_conceded = combined_season_data.groupby('AwayTeam')['FTHG'].mean()

# Calculate league's average goals for home and away
league_avg_home_goals = combined_season_data['FTHG'].mean()
league_avg_away_goals = combined_season_data['FTAG'].mean()

# Compute Home and Away Attack Strength and Defence Strength for each match
combined_season_data['HAGR'] = combined_season_data['HomeTeam'].apply(lambda x: avg_home_goals_scored[x] / league_avg_home_goals)
combined_season_data['AAGR'] = combined_season_data['AwayTeam'].apply(lambda x: avg_away_goals_scored[x] / league_avg_away_goals)

combined_season_data['HAGCR'] = combined_season_data['HomeTeam'].apply(lambda x: avg_home_goals_conceded[x] / league_avg_away_goals)
combined_season_data['AAGCR'] = combined_season_data['AwayTeam'].apply(lambda x: avg_away_goals_conceded[x] / league_avg_home_goals)

combined_season_data['NAGR'] = (combined_season_data['HAGR'] + combined_season_data['AAGR']) / 2
combined_season_data['NAGCR'] = (combined_season_data['HAGCR'] + combined_season_data['AAGCR']) / 2

# Extract relevant columns
combined_season_featureextracted = combined_season_data[['Season', 'HomeTeam','HAGR','AAGR' ,'HAGCR','AAGCR','NAGR', 'NAGCR']].drop_duplicates()

combined_season_featureextracted

,Season,HomeTeam,HAGR,AAGR,HAGCR,AAGCR,NAGR,NAGCR
0,2002-2003,Blackburn,0.882324,0.750135,0.990630,1.145987,0.816229,1.068309
1,2002-2003,Charlton,0.861645,1.372106,1.167044,0.664697,1.116875,0.915870
2,2002-2003,Everton,1.012637,1.217017,0.939149,0.914164,1.114827,0.926656
3,2002-2003,Fulham,0.896110,0.873021,1.133872,1.109798,0.884566,1.121835
4,2002-2003,Leeds,0.847858,1.391492,1.384168,0.761530,1.119675,1.072849
...,...,...,...,...,...,...,...,...
7225,2022-2023,Newcastle,0.946902,0.497577,1.040388,1.516494,0.722239,1.278441
7224,2022-2023,Leeds,0.847858,0.799138,1.384168,1.072269,0.823498,1.228218
7223,2022-2023,Bournemouth,0.896110,0.964997,1.326871,1.060780,0.930554,1.193826
7266,2022-2023,Bournemouth,0.896110,0.799138,1.326871,1.072269,0.847624,1.199570
7222,2022-2023,Fulham,0.896110,1.365644,1.133872,0.784507,1.130877,0.959189

In [36]:
combined_season_data.head()

,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HY,AY,HR,AR,HAGR,AAGR,HAGCR,AAGCR,NAGR,NAGCR
0,2002-2003,17/08/2002,Blackburn,Sunderland,0.0,0.0,D,0.0,0.0,D,...,1.0,2.0,0.0,0.0,0.882324,0.750135,0.990630,1.145987,0.816229,1.068309
1,2002-2003,17/08/2002,Charlton,Chelsea,2.0,3.0,A,2.0,1.0,H,...,0.0,3.0,1.0,0.0,0.861645,1.372106,1.167044,0.664697,1.116875,0.915870
2,2002-2003,17/08/2002,Everton,Tottenham,2.0,2.0,D,1.0,0.0,H,...,1.0,1.0,0.0,0.0,1.012637,1.217017,0.939149,0.914164,1.114827,0.926656
3,2002-2003,17/08/2002,Fulham,Bolton,4.0,1.0,H,3.0,1.0,H,...,1.0,2.0,0.0,0.0,0.896110,0.873021,1.133872,1.109798,0.884566,1.121835
4,2002-2003,17/08/2002,Leeds,Man City,3.0,0.0,H,2.0,0.0,H,...,1.0,1.0,0.0,0.0,0.847858,1.391492,1.384168,0.761530,1.119675,1.072849

In [37]:
# save dataframe into csv file in system
combined_season_data.to_csv('C:/Users/HP/Desktop/DissertationPrograms/Final_Work/combined_season_data.csv')